{% load menu %}
<header class="header">
            <div class="container">
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">
                                {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="{% url 'home' %}">Classic</a></h2>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% show_menu %}


                    </div>
                </div>
            </div>

        </header>